Q1

In [42]:
def next_in_line(a,b):
    if a==[]:
        return "No list has been selected"
    c=[0]*len(a)
    c[0]=b
    for i in range(1,len(a)):
        c[i]=a[i]
    return c

In [43]:
next_in_line([5, 6, 7, 8, 9], 1)

[1, 6, 7, 8, 9]

In [44]:
next_in_line([], 6)

'No list has been selected'

Q2

In [21]:
def get_budgets(a):
    b = [ i['budget'] for i in a ]
    return sum(b)

In [22]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

Q3

In [34]:
def alphabet_soup(a):
    return(''.join(sorted(a)))

In [35]:
alphabet_soup("edabit")

'abdeit'

Q4

In [38]:
def compound_interest(p,t,r,n):
    return round(p*((1+(r/n))**(t*n)),2)

In [39]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

Q5

In [1]:
def return_only_integer(a):
    l=[]
    for i in a:
        if type(i)==int:l.append(i)
    return l

In [2]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [3]:
return_only_integer(["String",  True,  3.3,  1])

[1]